<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Submitted Information:</h3>
      <p>Your Name: <%= name %></p>
      <p>Dojo Location: <%= location %></p>
      <p>Favorite Language: <%= language %></p>
      <p>Comment: <%= comment %></p>
      <form action = "/" method = "get">
        <input type = "submit" value = "Submit">
      </form>
    </h3>
  </body>
</html>
