<div ng-if="message">
  <h3 ng-bind="message"></h3>
</div>

<div ng-hide="message">
  <p>This is new.html</p>
  <form ng-submit = "create()">
    <label for = "first">First Name</label>
    <input type = "text" name = "first" ng-model = "firstModel">

    <label for = "last">Last Name</label>
    <input type = "text" name = "last" ng-model = "lastModel">

    <label for = "birthday">Birthday</label>
    <input type = "date" name = "birthday" ng-model = "birthdayModel">
    <input type = "submit" value = "Create">
  </form>

</div>
