<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">

    $(document).ready(function () {
      var socket = io.connect()
      $("#submit_button").click(function () {
        if ($("#content").val() != "") {
          socket.emit("new_message", {
            content: $("#content").val()
          })
          $("#content").val("")
        }
      })
      socket.on("all_messages", function(data) {
        // console.log("Server received data.message")
        // console.log(data.messages)
        for (i in data.messages) {
          $("#messageboard").append("<p>" + data.messages[i] + "</p>")
        }
      })

      socket.on("new_message", function(new_message) {
        console.log("received new message!")
          $("#messageboard").append("<p>" + new_message + "</p>")
      })

      var name = prompt("Please enter your name")
      //This replaces the name with "Anonymous" if someone clicks
      //"Cancel" or tries to enter an empty string as their name
      if (name == undefined || name === "") {
        name = "Anonymous"
      }
      // console.log("new user has been created on the client side")
      socket.emit("new_user", {name: name}
      )
    })
    </script>
  </head>
  <body>
    <div id = "messageboard"></div>
    <input type = "textarea" methods = "post" placeholder = "enter your message here" id = "content"></textarea>
    <button id = "submit_button">Submit</button>
  </body>
</html>
