<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">

    $(document).ready(function () {
      if (typeof(person) === "undefined") {
        var person = prompt("Please enter your name")
        if (person == undefined) {
          person = "Anonymous"
        }
        console.log("new user has been created on the client side")
        socket.emit("new_user", {person: person
        })
      }
      var socket = io.connect()

    })
    </script>
  </head>
  <body>
    <h1>Hello world</h1>
  </body>
</html>
