<div ng-controller="playersController">
  <br>
  <form name = "playerForm">
    <label for = "name">Name</label>
    <input type = "text" name = "name" ng-model = "nameModel" minlength = "3" required>
    <button ng-click = "createPlayer()">Add Player</button>
  </form>

  <div ng-messages = "playerForm.name.$error">
    <p ng-message = "minlength">Please insert a name that is 3 characters or longer</p>
    <p ng-message = "required">Please insert a name</p>
  </div>

  <table>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="player in playersArray track by $index">
      <td>{{player.name}}</td>
      <td><button ng-click = "removePlayer($index)">Remove Player</button></td>
    </tr>
</div>
