*{
  margin: 0px;
  padding: 0px;
}

.table div{
  display: inline-block;
  height: 100px;
  width: 150px;
  background-color: red;
  border: 2px solid black;
}

.input_form{
  margin-top: 100px;
}

.input_form div{
  height: 50px;
  width: 300px;
  background-color: green;
  text-align: right;
}
button{
margin-top: 100px;
}
