*{
  margin: 0px;
  padding: 0px;
}
.wrapper{
  background-color: black;
}
.header{
  padding: 10px;
  background-color: orange;
  /*margin-bottom: 10px;*/
}
.header_name{
  display: inline-block;
  /*background-color: yellow;*/
}
.header_dashboard{
  display: inline-block;
  margin-right: 0px;
  /*background-color: orange;*/
}
/*.about{
  display: inline-block;
}
.projects{
  display: inline-block;
}
.contact{
  display: inline-block;
}*/
#picture_summary{
  text-align: center;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #ADD8E6;
}
#text_summary{
  text-align: center;
  padding: 10px;
  background-color: orange;
}
#text_summary h2{
  margin-top: 0px;
}
#contact_info{
  padding: 10px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #ADD8E6;
}
