*{
  margin: 0px;
  padding: 0px;
}
.wrapper{
  background-color:pink;
  width:1000px;
  height:1000px;
}
.header{
  background-color:purple;
  width:100%;
  height:7%;
}
.subheader{
  background-color:red;
  width:100%;
  height:5%;
}
.internet_resources{
  background-color:orange;
  width:20%;
  height:18%;
}
.contact_info{
  display:inline-block;
  width: 70%;
  height: 8%;
  position: absolute;
  margin-left: 20%;
  margin-top: -16%;
  background-color: blue;
}
.main_content{
  width: 70%;
  height: 35%;
  display: inline-block;
  position: absolute;
  margin-left: 20%;
  margin-top: -11%;
  background-color: silver;
}
.main_content2{
  width: 70%;
  height: 25%;
  position: absolute;
  margin-left: 20%;
  margin-top: 10%;
  background-color:brown;
}
.advertisement{
  background-color:red;
  width:20%;
  height:36%;
}
.footer{
  width: 70%;
  height: 15%;
  position: absolute;
  margin-left: 20%;
  margin-top: -8%;
  background-color:blue;
}
