<div ng-controller="associationsController">
  <br>

  <select ng-model = "playerModel" ng-options = "player.name for player in playersArray">
    <option value = "">Please select a player</option>
  </select>

  <select ng-model = "teamModel" ng-options = "team.name for team in teamsArray">
    <option value = "">Please select a team</option>
  </select>

  <button ng-click = "associate()">Assign player to team</button>

  <table>
    <tr>
      <th>Name</th>
      <th>Teams</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="player in playersArray track by $index">
      <td>{{player.name}}</td>
      <td>{{player.team}}</td>
      <td>
        <button ng-click = "disassociate($index)">Clear Assignment</button>
      </td>
    </tr>
  </table>

</div>
